---
site_title: Practicando a usar 11ty!
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ site_title }}</title>
  </head>
  <body>
  {% include "partial/page-header.njk" %}
  
  {% include "partial/page-footer.njk" %}
  </body>
</html>
