<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <ul role="list">
          <li>Inicio</li>
          <li>Nosotros</li>
          <li>Productos</li>
          <li>Contacto</li>
        </ul>
      </nav>
    </header>
    <h1></h1>

    <footer>
      <p>
        Copyright &copy; {% year %} <a href="https://josedromero.com">JR</a>. All rights reserved.
      </p>
    </footer>
  </body>
</html>
